.rodape {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.rodape p {
    margin: 5px 0;
}

.dev, .design, .resumo {
    font-weight: bold;
}

.dev, .design, .resumo {
    text-transform: uppercase;
}