#home, nav{
  width: 100%;
  height: 8vh;
}

#home{
  position: fixed;

  background-color: #222;
  transition: 0.2s all;
  z-index: 9999;
}

nav{
  display: flex;
  align-items: center;
}

nav h1 a{
  font-size: 3.5vh;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.03vh;
  color: white;
}

nav ul{
  display: flex;
    
  width: max-content;
    
  list-style: none;
}
    
nav li{
  margin-left: 1%;
}
    
nav a{
  color: white;
  text-decoration: none;
    
  font-size: 2.5vh;
  padding: 1vh;
  border-radius: 0.6vh;
    
  cursor: pointer;
  transition: 0.2s all;
}
    
nav ul a:hover{
  background-color: #383838
}

#SP{
  margin-left: 28vw;
}

.s{
  margin-left: 1.5vw;
}

#logo-if{
  transition: 0.2s all;
  width: 9vw;

  margin-left: 33vw;
}