main{
    padding-top: 8vh;

    background-color: rgb(222, 230, 233);
}

.estilo-resumo{
    margin-top: 5vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.estilo-resumo.bom_dia_camarada{
    margin-top: 15vh;
}

.img-livro{
    width: 50vh;
    height: 50vh;

    object-fit: fill;
}

.secao-resumo{
    width: 60vw;

    font-family: "roboto";
    font-size: 1.2em;
}

.titulo-resumo{
    text-align: center;
}

.paragrafo-resumo{
    text-align: justify;
}

.compra-centralizar{
    display: flex;
    justify-content: center;
}

.compra-estilo{
    margin-top: 10vh;

    background-color: whitesmoke;

    width: 70vw;
    height: 60vh;
}